[submodule "lib/deps/third_party/eigen"]
	path = lib/deps/third_party/eigen
	url = https://github.com/rhoneyager/eigen-git-mirror.git
[submodule "plugins/qhull/deps/qhull"]
	path = plugins/qhull/deps/qhull
	url = https://github.com/rhoneyager/qhull.git
	branch = v721
[submodule "plugins/qhull/deps/quickhull"]
	path = plugins/qhull/deps/quickhull
	url = https://github.com/akuukka/quickhull.git
